/* fonte massa - just */
@media (min-width: 991px)
{
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin:0px;
    padding: 0px;
  }

body{
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}
  
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
    height:21vh;
    position: fixed;
    background-color: #100f15;
    z-index: 2;
    border-bottom: 2px solid black;
}
  
  .title{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    height: 14vh;
    font-family: 'Roboto', sans-serif;
    color: #d7d7d7;
  }
  
  nav {
    display: flex;
    flex-grow: 1;
    height: 7vh;
    align-items: center;
  }
  
  nav ul{
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%
  }
  
  nav ul li{
    list-style:none;
    display:flex;
    flex-grow: 1;
    width:100%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 7vh; 
    background-color: #100f15;
    font-family: 'Roboto', sans-serif;
  }

  nav ul li a{
    color: #d7d7d7;
    text-decoration: none;
    
  }
  
  
  nav ul li::after {
      content: "";
      display: block;
      justify-content: end;
      margin-top: 10px;
      width: 10px;
      height: 2px;
      background-color: transparent;
      transition: 1s 0s;
     
  }
  
  nav ul li:hover::after {
      content: "";
      display: block;
      width: 80%;
      height: 2px;
      background-color: #3b57de;
  }
  nav ul li a:hover{
    color:white;
  }
  
main {
    /* background-color: #100f15; */
    background-color: lightgray;
    color: black;
    width: 100%;
    padding-top: 22vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    flex-wrap: wrap;
    justify-content: space-evenly
    
}





footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100f15;
  height: 20vh;
}

footer p{
  font-family: 'Roboto', sans-serif;
  color: #d7d7d7;
  font-size: 20px;

}


/*   ESTILO DA HOME    */


.start-main{
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 100%;
  max-width: 60%; 
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  
}

.start-main h1{
  border-bottom: 3px solid darkblue;
 
  font-size: 2.5rem;
  
}

.start-main p{
  padding-top: 20px;
  width: 500px;
  text-align: justify;
  font-size: 1.5rem;
}



.img-main{
  width: auto;
  height: auto; 
  max-width: 400px;
  max-height: 300px;
}



.sec-objective{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 50vh;
  justify-content: center;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.secobj-div{
  height: auto;
  width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  
}

.sec-objective h1{
  
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}

.sec-info{
  padding: 100px 0px;
  background-color: lightgray;
}

.sec-info h1{
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}

.secinfo-div{
  display: flex;
  justify-content: space-around;
}

.text-along{
  font-size: 1.5rem;
  padding: 0px 40px;
  display:inline-block;
  width: 500px;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}


.button-div{
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.button-class{
  width: 400px;
  height: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin: 0 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;  
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.button-class:hover{
  color: white;
  transition: .7s;
  
}

.button-class::before{
  display: block;
  content: "";
  left: 0;
  top: 0;
  position: absolute; 
  width: 100%;
  height: 100%;
  background-color: #3b57de;
  opacity: 0.9;
  z-index: -1;
  transition: width .4s;
}

.item1::before{
  content: "";  
  width: 0;
  height: 100%;
}


.item1:hover::before{
  width: 100%;   
}

.sec-register{
  background-color: lightgray;
  padding: 100px 0px;
  margin-bottom: 50px;
}

.secreg-div{
   padding: 0;
   height: 100%;
   width: 100%;
   display: inline-block;
}

.register-text{
  text-align: center;
  font-size: 1.5rem;
  padding: 30px 40px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.register-text h1{
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
}



/* Estilo do titulo das paginas de games*/

.section-type-games{
  padding-top: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightgrey;
  color: black;
}

.title-page h1{
  border-bottom: 3px solid darkblue;
  font-size: 2.5rem;
  
}

.title-page p{
  padding-top: 20px;
  width: 600px;
  text-align: left;
  font-size: 1.5rem;
}

.img-type-div{
  text-align: center;
}
.img-type{
  width: auto;
  height: auto; 
  max-width: 400px;
  max-height: 300px;
}

}
/*
                      TABLET
*/

@media ((min-width:576px) and (max-width: 990px))
{

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin:0px;
    padding: 0px;
  }

  body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
  }
  
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
    height:21vh;
    position: fixed;
    background-color: #100f15;
    z-index: 2;
}
  
  .title{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 14vh;
    color: #d7d7d7;
    font-size: 20px;
  }
  
  
  nav {
    display: flex;
    position: relative;
    flex-grow: 1;
    height: 7vh;         /*height fixo*/
    align-items: center;

    
  }
  
  nav ul{
    display: none;
    position: absolute;
    flex-direction: column;

    left: 0px;
    top: 0px;
    width: 250px;
    text-align: center;
    height: 300px;

    font-size:40px
  }
  
  nav ul li{
    list-style:none;
    display:flex;
    flex-grow: 1;
    width:100%;
    height: 7vh;        /*height fixo*/
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #100f15;   /* cor na li*/
  }


  nav ul li::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: transparent;
    transition: 1s 0s;
}

nav ul li:hover::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: brown;
}

nav ul li a{
  text-decoration: none;
  color: #d7d7d7;
}

  
main {
    width: 100%;
    padding-top: 22vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgrey;
}






footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100f15;
  height: 20vh;
}

footer p{
  font-family: 'Roboto', sans-serif;
  color: #d7d7d7;
  font-size: 20px;
}

/* estilo tablet home  */



.start-main{
  padding-top: 50px;
  display: inline;
  text-align: justify;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;
}

.start-main h1{
  padding: 0px 10px;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.start-main p{
  padding: 10px 100px;
  text-align: justify;
  font-size: 1.4rem;
}

.img-main{
  max-height: 300px;
  max-width: 400px;
  width: auto;
  height: auto;
}

.img-div{
  text-align: center;
  
}

.sec-objective{
  text-align: center;
  background-color: lightgray;
}

.secobj-div{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.sec-objective h1{
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}

.sec-info{
  padding: 50px 0px;
  /* background-color: gainsboro; */
}

.sec-info h1{
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}


.secinfo-div{
  display: inline;
  justify-content: space-around;
}

.text-along{
  font-size: 1.4rem;
  padding: 30px 100px;
  display:inline-block;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}


.button-div{
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  
}

.button-class{
  width: 400px;
  height: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin: 0 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;  
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.button-class:hover{
  color: white;
  transition: .7s;
  
}

.button-class::before{
  display: block;
  content: "";
  left: 0;
  top: 0;
  position: absolute; 
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 0.9;
  z-index: -1;
  transition: width .4s;
}

.item1::before{
  content: "";  
  width: 0;
  height: 100%;
}


.item1:hover::before{
  width: 100%;   
}

.sec-register{
  padding: 50px 0px;
  margin-bottom: 50px;
}

.secreg-div{
   padding: 0;
   height: 100%;
   width: 100%;
   display: inline-block;
}

.register-text{
  text-align: center;
  font-size: 20px;
  padding: 30px 100px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.register-text p{
  text-align: justify;
  font-size: 1.5rem;
}

.register-text h1{
  font-size: 2.5rem;
}

.register-text h1{
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
}

/* Estilo do titulo das paginas de games*/

.section-type-games{
  padding-top: 30vh;
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: lightgrey;
}

.title-page h1{
  
  font-size: 2.5rem;
  
}

.title-page p{
  font-size: 1.4rem;
  padding: 30px 10vw;
  display:inline-block;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.img-type-div{
  text-align: center;
}
.img-type{
  width: auto;
  height: auto; 
  max-width: 400px;
  max-height: 300px;
}


}


/*celular*/


@media (max-width:575px)
{


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin:0px;
    padding: 0px;
  }

  body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
  }
  
main {
  width: 100%;
  height: 100%;
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
    height:21vh;        /* height fixo*/
    position: fixed;
    z-index: 2;
}
  
.title{
    display: flex;
    flex-grow: 2;
    height: 14vh; /*height fixo*/
    justify-content: center;
    align-items: center;
    background-color: #100f15;
    font-family: 'Roboto', sans-serif;
    color: #d7d7d7;
    font-size: 15px;
}


  
nav {
    display: flex;
    position: relative;
    flex-grow: 1;
    height: 7vh;         /*height fixo*/
    align-items: center;
    background-color: #100f15;
  }
  
  nav ul{
    display: none;
    position: absolute;
    flex-direction: column;

    left: 0px;
    top: 0px;
    width: 70%;
    text-align: center;
    height: 300px;
    text-decoration: none;
    font-size: 25px;
  }
  
  nav ul li{
    text-decoration: none;
    list-style:none;
    display:flex;
    flex-grow: 1;
    width:100%;
    height: 7vh;        /*height fixo*/
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #100f15;   /* cor na li*/
    
  }


  nav ul li::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: transparent;
    transition: 1s 0s;
}

nav ul li:hover::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: brown;
}

nav ul li a{
  text-decoration: none;
  color: #d7d7d7;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100f15;
  height: 15vh;
}

footer p{
  
  
  font-family: 'Roboto', sans-serif;
  color: #d7d7d7;
  font-size: 20px;
}

/* estilo mobile home  */



.start-main{
  background-color: lightgray;
  display: inline;
  text-align: justify;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;
}

.start-main h1{
  padding: 0px 10px;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.start-main p{
  padding: 10px 30px;
  text-align: justify;
  font-size: 1.5rem;
}



.img-main{
  max-height: 200px;
  max-width: 290px;
  width: auto;
  height: auto;
}

.img-div{
  text-align: center;
  
}

.sec-objective{
 
  text-align: center;
  background-color: lightgray;
  
}

.secobj-div{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.sec-objective h1{
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}

.sec-info{
  padding: 50px 0px;
  background-color: lightgray;
}

.sec-info h1{
  font-size: 2.5rem;
  padding-bottom: 40px;
  text-align: center;
}



.secinfo-div{
  display: inline;
  justify-content: space-around;
}

.text-along{
  font-size: 1.5rem;
  padding: 30px 40px;
  display:inline-block;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}


.button-div{
  padding: 0px 100px;
  margin-top: 10px;
  
  display: inline;
  justify-content: center;
  
}

.button-class{
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin: 0 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;  
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.button-class:hover{
  color: white;
  transition: .7s;
  
}

.button-class::before{
  display: block;
  content: "";
  left: 0;
  top: 0;
  position: absolute; 
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 0.9;
  z-index: -1;
  transition: width .4s;
}

.item1::before{
  content: "";  
  width: 0;
  height: 100%;
}


.item1:hover::before{
  width: 100%;   
}

.sec-register{
  background-color: lightgray;
  padding: 50px 0px;
  margin-bottom: 50px;
  text-align: center;
}

.secreg-div{
   padding: 0;
   height: 100%;
   width: 100%;
   display: inline-block;
}

.register-text{
  text-align: center;
  font-size: 1.5rem;
  padding: 30px 40px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.register-text p{
  text-align: left;
  font-size: 1.5rem;
}

.register-text h1{
  font-size: 2.5rem;
}

.register-text h1{
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
}

/* Estilo do titulo das paginas de games*/

.section-type-games{
  background-color: lightgray;
  padding-top: 30vh;
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.title-page h1{
  text-decoration: none;
  
  font-size: 2.5rem;
  
}

.title-page p{
  font-size: 1.4rem;
  padding: 30px 10vw;
  display:inline-block;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.img-type-div{
  text-align: center;
}
.img-type{
  width: auto;
  height: auto; 
  max-width: 400px;
  max-height: 300px;
}

}