<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../css/caixa_horizontal.css">
    <link rel="stylesheet" href="../css/layout_explorar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/card.css">

</head>
<body>
    <header>

        <div class="title">
          <h1>TecGames</h1>
        </div>
    
        <nav>
          <i class="hamburger bi bi-list"></i>
          <ul>
    
            <li><a href="../../index.html">Inicio</a> </li>
            <li><a href="./jogos_pc.html">Jogos PC</a></li>
            <li><a href="./jogos_mobile.html">Jogos Mobile</a></li>
            <li><a href="./jogos_console.html">Jogos Console</a></li>
            <li><a href="#">Explorar</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li class="config">
              <div class="box-config-main">
                <p class="config-p">Configurações</p>
              </div>
    
              <div class="box-content">
                <p><i class="son bi bi-volume-down-fill">Son</i></p>
                <p>Light</p>
                <p>20/04 - 17:00</p>
                <p>Perfil</p>
                <p>Sair(logout)</p>
              </div>
            </li>
    
          </ul>
        </nav>
    </header>
    
    <div class="modal m-desativado">
        <div class="modal-conteudo">
            <video src="https://youtu.be/WRUbBsLPoPE" controls></video>
        </div>
    </div>
    
    <main>
        
        <div class="topicos" id="topico-principal">
            <h1>Tópicos</h1>
            
            <div>
                <a href="#videos">Videos</a> <br>
                <a href="#videos-ao-vivo">Videos ao vivo</a> <br>
                <a href="#fotos-do-dia">Fotos do dia</a> <br>
                <a href="#noticias">notícias</a>
            </div>
        </div>
        
        
        <div id="videos" class="topicos" >
            <h1>Videos</h1>
            <section  class="box-explorar">
                <img class="box-explorar-sub" id="foto" src="../midias/fotos/fotos explorar/download (1).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (2).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (3).jpg" alt="">

                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (4).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (5).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download.jpg" alt="">
            </section>
        </div>

        <div id="videos-ao-vivo" class="topicos" >
            <h1>Videos ao vivo</h1>
            <section class="box-explorar">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (1).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (2).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (3).jpg" alt="">

                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (4).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images.jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (6).jpg" alt="">
            </section>
        </div>

        <div class="topicos" id="noticias">
            <h1>Noticias</h1>
            

            <div class="center-caixa-horizontal">
                <div class="caixa-horizontal">
                    <div class="caixas">
            
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Promoção</h1>
                                <p>
                                    A TecGames está com uma promoção incrivel!Cadastre 
                                    um amigo na nossa plataforma e ganhe bônus em diversos 
                                    jogos parceiros. Lembrando que é somente hoje.
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Parceria nova</h1>
                                <p>
                                    A TecGames está com uma nova parceria, trata-se da empresa
                                    Rockstar Games, detentora da franquia Grand Theft Auto.
                                    Nossos usuarios poderão desfrutar desta incrivel franquia 
                                    sem pagar nada!
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Devs de games</h1>
                                <p>
                                    A Sony está montando um grupo para o desenvolvimento do seu novo
                                    jogo. 
                                </p>
                            </div>
                        </div>
            
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Atualizações</h1>
                                <p>
                                    Confira abaixo as proximas atualizações:<br><br><br>
                                    -Need for Speed<br><br>
                                    -Minecraft(Xbox)<br><br>
                                    -Bomberman(PC)
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Parceria nova</h1>
                                <p>
                                    A TecGames está com uma nova parceria, trata-se da empresa
                                    Rockstar Games, detentora da franquia Grand Theft Auto.
                                    Nossos usuarios poderão desfrutar desta incrivel franquia 
                                    sem pagar nada!
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Lançamentos</h1>
                                <p>
                                    Confira os lançamentos do proximo mês:<br><br><br>
                                    -Need for Speed <br><br>
                                    -Minecraft(Xbox) <br><br>
                                    -Bomberman(PC) 
                                </p>
                            </div>
                        </div>
            
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Baixe nosso App</h1>
                                <p>
                                    Receba notificações e fique por dentro de tudo do mundo dos games.
                                    Em menos de 5 minutos você está baixando nosso App. Disponivel para Windows, Mac e Linux.
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Google?!</h1>
                                <p>
                                    Isso mesmo que você está pensando, a google se tornou sócio da TecGames.
                                    
                                </p>
                            </div>
                        </div>
                        <div class="caixa caixa-oculta">
                            <div class="sub-caixa">
                                <h1>Cronograma:</h1>
                                <p>
                                    Próximo mês terá muitos lançamentos:<br><br><br>
                                    -Need for Speed<br><br>
                                    -Minecraft(Xbox)<br><br>
                                    -Bomberman(PC)
                                </p>
                            </div>
                        </div>
            
                    </div>
                    <div class="leftright">
                        <button id="btn_left" class="caixa-btn caixa-btn-esquerda">
                            <i class='card-btn-icon bx bx-caret-left'></i>
                            <i class="card-btn-text">Esquerda</i>
                        </button>
                        <button id="btn_right" class="caixa-btn caixa-btn-direita">
                            <i class="card-btn-text">Direita</i>
                            <i class='card-btn-icon bx bx-caret-right'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="topicos" id="fotos-do-dia">
            <h1>Fotos do dia</h1>
            <section class="box-explorar">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (6).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/images (5).jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/download (7).jpg" alt="">

                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/DLS-Dream-league-soccer-512x512-Kits-2023.jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/fotos explorar/maxresdefault.jpg" alt="">
                <img class="box-explorar-sub" src="../midias/fotos/PES.webp" alt="">
            </section>
        </div>
    </main>
    <footer>
        <p>@TecGames, 2023, direitos reservados.</p>
    </footer>
    

    <script src="../js/caixa_horizontal.js"></script>
    <audio src="../midias/clickgotaagua.mp3"></audio>
    <script src="../js/son.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/mobile.js"></script>

    <script src="../js/modal_video.js"></script>

</body>
</html>