<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/card.css">
  <link rel="stylesheet" href="../css/config.css">





  <link rel="stylesheet" media="(max-width: 575px)" href="../css_mobile/mobile_style.css">




  <title>Games</title>
</head>

<body id="body">
  <header>

    <div class="title">
      <h1>TecGames</h1>
    </div>

    <nav>
      <i font-size="50px" class="hamburger bi bi-list"></i>
      <ul>

        <li> <a href="../../index.html">Inicio</a> </li>
        <li><a href="./jogos_pc.html">Jogos PC</a></li>
        <li><a href="./jogos_mobile.html">Jogos Mobile</a></li>
        <li><a href="#">Jogos Console</a></li>
        <li><a href="./explorar.html">Explorar</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li class="config">
          <div class="box-config-main">
            <p class="config-p">Configurações</p>
          </div>

          <div class="box-content">
            <p><i class="son bi bi-volume-down-fill">Son</i></p>
            <p>Light</p>
            <p>20/04 - 17:00</p>
            <p>Perfil</p>
            <p>Sair(logout)</p>
          </div>
        </li>

      </ul>
    </nav>
  </header>
  <section>
  <div class="section-type-games">
    <div class="title-page">
      <h1>Jogos de Console</h1>
      <p>Os jogos de console são jogos eletrônicos que são executados em consoles de jogos eletrônicos. Eles são
        projetados para serem jogados em televisores e geralmente são controlados por um joystick ou gamepad. Os
        consoles de jogos eletrônicos são dispositivos dedicados que são projetados especificamente para jogar jogos de
        console. Alguns dos consoles de jogos mais populares incluem o Xbox e o Nintendo Switch. A
        seguir, vemos as principais recomendações dos desenvolvedores junto com seu site de download:</p>
    </div>
    <div class="img-type-div">
      <img class="img-type" src="../midias/consoleart.png" alt="Imagem ilustrativa de jogos">
    </div>
  </div>
  </section>
  <main>


    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Grand Theft Auto: San Andreas</h1>
          <img class="card-img oculta" src="../midias/gta haha.jpg" alt="">
          <p>
            Grand Theft Auto: San Andreas é um jogo eletrônico de ação-aventura
            desenvolvido pela Rockstar North e publicado pela Rockstar Games. É
            o quinto título principal da série Grand Theft Auto e foi lançado em
            outubro de 2004 para PlayStation 2 e em junho de 2005 para Xbox e
            Microsoft Windows.
          </p>
        </div>


        <div class="card-buttons">

          <button class="card-btn-download">
            <i class='bx bxs-download'></i>
            <i>Download</i>
          </button>
          <button class="card-btn-site">
            <i class='bx bx-globe'></i>
            <i>Site</i>
          </button>

        </div>
      </div>
    </div>






    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>PES</h1>
          <img class="card-img oculta" max-width="100px" src="../midias/fotos/PES.webp" alt="">
          <p>
            eFootball é uma série de jogos eletrônicos de
            simulação de futebol desenvolvido e publicado
            pela Konami desde 1995. Consiste em dezoito jogos
            principais e vários spin-offs que foram lançados em
            diversas plataformas diferentes. A série alcançou
            sucesso crítico e comercial.
          </p>
        </div>


        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='bx bxs-download'></i>
            <i>Download</i>
          </button>
          <button class="card-btn-site">
            <i class='bx bx-globe'></i>
            <i>Site</i>
          </button>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Bomberman</h1>
          <img class="card-img oculta" src="../midias/fotos/bomberman.jpg" alt="">
          <p>
            Bomberman é uma série de jogos de estratégia, inicialmente
            desenvolvido pela fabricante Hudson Soft. O jogo original
            foi lançado em 1983 e novos jogos da série ainda continuam
            a ser lançados. Hoje, Bomberman estrela em mais de 60 jogos
            diferentes.
          </p>
        </div>


        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='bx bxs-download'></i>
            <i>Download</i>
          </button>
          <button class="card-btn-site">
            <i class='bx bx-globe'></i>
            <i>Site</i>
          </button>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Mario</h1>
          <img class="card-img oculta" src="../midias/fotos/MARIO.webp" alt="">
          <p>
            Super Mario é uma série de jogos eletrônicos de plataforma,
            criada pela Nintendo, baseada e estrelada pelo encanador
            fictício Mario. Alternativamente chamada de série Super
            Mario Bros. ou simplesmente série Mario, é a série central
            da ampla franquia Mario.
          </p>
        </div>


        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='bx bxs-download'></i>
            <i>Download</i>
          </button>
          <button class="card-btn-site">
            <i class='bx bx-globe'></i>
            <i>Site</i>
          </button>
        </div>
      </div>
    </div>



  </main>
  <footer>
    <p>@TecGames, 2023, direitos reservados.</p>
  </footer>


  <audio src="../midias/clickgotaagua.mp3"></audio>
  <script src="../js/son.js"></script>
  <script src="../js/config.js"></script>
  <script src="../js/mobile.js"></script>
</body>

</html>