<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/card.css">
  <link rel="stylesheet" href="../css/config.css">





  <link rel="stylesheet" media="(max-width: 575px)" href="../css_mobile/mobile_style.css">




  <title>Games</title>
</head>

<body id="body">
  <header>

    <div class="title">
      <h1>TecGames</h1>
    </div>

    <nav>
      <i class="hamburger bi bi-list"></i>
      <ul>

        <li><a href="../../index.html">Inicio</a> </li>
        <li><a href="#">Jogos PC</a></li>
        <li><a href="./jogos_mobile.html">Jogos Mobile</a></li>
        <li><a href="./jogos_console.html">Jogos Console</a></li>
        <li><a href="./explorar.html">Explorar</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li class="config">
          <div class="box-config-main">
            <p class="config-p">Configurações</p>
          </div>

          <div class="box-content">
            <p><i class="son bi bi-volume-down-fill">Son</i></p>
            <p>Light</p>
            <p>20/04 - 17:00</p>
            <p>Perfil</p>
            <p>Sair(logout)</p>
          </div>
        </li>

      </ul>
    </nav>
  </header>
  <section>
    <div class="section-type-games">
      <div class="title-page">
        <h1>Jogos de Computador</h1>
        <p>Os jogos para PC são muito populares e oferecem uma grande variedade de gêneros e jogos exclusivos e
          multiplataforma. Eles podem ser jogados em computadores pessoais e em laptops. Alguns jogos são gratuitos,
          enquanto outros são pagos. Eles podem ser baixados de várias lojas online ou de sites de desenvolvedores. A
          seguir, vemos as principais recomendações dos desenvolvedores junto com seu site de download:</p>
      </div>
      <div class="img-type-div">
        <img class="img-type" src="../midias/computer-pixelart.png" alt="Imagem ilustrativa de jogos">
      </div>
    </div>
  </section>
  <main>

    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Outer Wilds</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/outerwilds.jpg" alt="">
          <p>
            Outer Wilds é um mundo aberto misterioso sobre um sistema solar preso num loop temporal infinito. Explore o
            sistema solar abordo de sua nave e descubra os misterios de uma antiga civilização. Tudo nesse jogo, sua progressão, suas conquistas ou avanços, é tudo conhecimento.

          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/753640/Outer_Wilds/" target="_blank">Download</a></i>
          </button>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Red dead redemption 2</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/reddeadimage.jpg" alt="">
          <p>
            Dos criadores de Grand Theft Auto V e Red Dead Redemption, Red Dead Redemption 2 é um conto épico da vida na
            América no alvorecer da era moderna. É terceiro título da série Red Dead e uma prequela de Red Dead
            Redemption. Disponível também para Playstation 4, Xbox One, PC
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text"><a href="https://www.rockstargames.com/reddeadredemption2/br/" target="_blank">Site</a></p>
          </button>
        </div>
      </div>
    </div>





    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Dark souls</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/darksouls.png" alt="">
          <p>
            Dark Souls é uma série de RPGs de ação criados por Hidetaka Miyazaki da FromSoftware, é considerado por
            muitos um dos jogos mais dificeis. Caso queira se aventurar, a saga Dark souls oferece um bom desafio.
            Disponível para Playstation 4, Xbox One, PC
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/570940/DARK_SOULS_REMASTERED/" target="_blank">Download</a></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Disco Elysium</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/discoElysium.png" alt="">
          <p>
            Disco Elysium é um RPG inovador. Você é um detetive com um sistema de habilidades único à sua disposição e
            todo um quarteirão inteiro para explorar. Interrogue personagens inesquecíveis, desvende assassinatos ou
            receba propinas. Torne-se um herói ou uma calamidade de ser humano.
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/632470/Disco_Elysium__The_Final_Cut/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text">Site</p>
          </button>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Portal</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/portal.png" alt="">
          <p>
            Portal é considerado um dos jogos mais inovadores do horizonte e irá proporcionar aos jogadores horas de
            jogo sem igual. Use sua arma de portais para solucionar quebra-cabeças físicos e desafios abrindo portais
            para manobrar objetos, e a si próprios, pelo espaço. Disponível para Nintendo Switch, Android, PlayStation
            3, Xbox 360, PC.
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/400/Portal/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text">Site</p>
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Elden Ring</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/eldenring.png" alt="">
          <p>
            Dos mesmos criadores de Dark souls. Elden ring é um RPG de ação e fantasia ambientado em um mundo cheio de
            mistério e perigo. Contando com as mecanicas melhoradas de Dark souls, Elden ring proporciona uma
            experiência em mundo aberto sem igual, ainda mais desafiador que os outros soulslike. Disponível para
            Playstation, Xbox e PC.
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/1245620/ELDEN_RING/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text"><a href="https://store.steampowered.com/app/1245620/ELDEN_RING/" target="_blank">Site</a></p>
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Stardew Valley</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/stardew.png" alt="">
          <p>
            Stardew Valley é um RPG sem fim da vida no campo! Você herdou a antiga fazenda de seu avô no Vale do
            Orvalho. Equipado com ferramentas de segunda mão e algumas moedas, você irá começar sua nova vida. Um jogo
            bem relaxante, inspirado em Harvest moon, o modo cooperativo também é incluido, possibilitando a criação de
            uma fazenda com amigos.
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/413150/Stardew_Valley/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text">Site</p>
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="card-content">
          <h1>Skyrim</h1>
          <img class="card-img oculta" src="../midias/fotos/Pg-games-Pictures/skyrim.png" alt="">
          <p>
            Skyrim é um jogo de RPG que mantém a tradicional jogabilidade de mundo aberto encontrada na série The Elder
            Scrolls. O jogador é livre para andar pela terra de Skyrim a sua vontade. Sua versão para pc é essencial por
            possibilitar a inclusão de mods, o que trás uma nova visão ao jogo.
          </p>
        </div>
        <div class="card-buttons">
          <button class="card-btn-download">
            <i class='card-btn-icon bx bxs-download'></i>
            <i class="card-btn-text"><a href="https://store.steampowered.com/app/489830/The_Elder_Scrolls_V_Skyrim_Special_Edition/" target="_blank">Download</a></i>
          </button>
          <button class="card-btn-site">
            <i class='card-btn-icon bx bx-building-house'></i>
            <i class='bx bx-globe'></i>
            <p class="card-btn-text">Site</p>
          </button>
        </div>
      </div>
    </div>



  </main>
  <footer>
    <p>@TecGames, 2023, direitos reservados.</p>
  </footer>


  <audio src="../midias/clickgotaagua.mp3"></audio>
  <script src="../js/son.js"></script>
  <script src="../js/config.js"></script>
  <script src="../js/mobile.js"></script>
</body>

</html>