<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/autentication.css">
  <title>Login</title>
</head>

<body id="body">
  <main class="main-div">
    <div class="box">
      <div class="title">
        <h1>Cadastro</h1>
       
      </div>
      <div class="form-div">
        <form class="form-style">
          <label for="name">Username:</label>
          <input class="input-session" id="name" type="text">
          <label for="name">Email:</label>
          <input class="input-session" id="name" type="email">
          <label for="passwordd">Senha:</label>
          <input class="input-session" id="passwordd"  type="password">
          <label for="passwordd">Confirmar senha:</label>
          <input class="input-session" id="passwordd"  type="password">
          <div class="button-div">
             <a href="../../index.html" class="button-class item1">Enviar</a>
          </div>
          <label class="label">Já possui uma conta? <a href="login.html">Entrar</a></label>
        </form>
      </div>
      
    </div>
  </main>
</body>

</html>