<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/credits.css">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/card.css">
</head>

<body>
    <header>

        <div class="title">
            <h1>TecGames</h1>
        </div>

        <nav>
            <i class="hamburger bi bi-list"></i>
            <ul>

                <li><a href="../../index.html">Inicio</a> </li>
                <li><a href="./jogos_pc.html">Jogos PC</a></li>
                <li><a href="./jogos_mobile.html">Jogos Mobile</a></li>
                <li><a href="./jogos_console.html">Jogos Console</a></li>
                <li><a href="./explorar.html">Explorar</a></li>
                <li><a href="#">Sobre</a></li>
                <li class="config">
                    <div class="box-config-main">
                        <p class="config-p">Configurações</p>
                    </div>

                    <div class="box-content">
                        <p><i class="son bi bi-volume-down-fill">Son</i></p>
                        <p>Light</p>
                        <p>20/04 - 17:00</p>
                    </div>
                </li>

            </ul>
        </nav>
    </header>

    <main class="main-credits">

        <h1 style="width: 100%;">Um pouco sobre o trabalho: </h1>
        <br>
        <p style="width: 100%;">Este site foi desenvolvido para a disciplina Linguagens de Marcação. Tivemos como
            objetivo a criação de um site sobre jogos, que são a paixão de muita gente, inclusive a nossa, dos
            desenvolvedores. Dessa forma, ao criar este website buscamos tivempo como proposito realizar os seguintes objetivos:
        </p>
        <ul class="lista">
            <li>Permitir aos Fãns de jogos obterem recomendações de títulos interessantes, amplamente conhecidos ou não.</li>
            <li>Ter uma interface intuitiva e de fácil utilização.</li>
            <li>Trazer além de recomendações, notícias para os interessados no mercado de jogos.</li>
            <li>Conseguir implementar a responsividade para a maioria dos dispositivos.</li>
        </ul>
        <br>
        <br>
        <br>
        <h1 style="width: 100%;">Desenvolvedores:</h1>
        <div class="desenvolvedores">
        <section class="section-dev">
            <div class="dev">
                <div class="dev-name">
                    <h2>José Henrique</h2>
                    <h5>Araujo da Silva</h5>
                </div>
                <div class="dev-foto">
                    <img src="../midias/fotos/photo project dev.jpeg" alt="">
                </div>
                <h4 class="h-entrelinhas">Tecnologias</h4>
                <div class="dev-tecnologia">
                    <i class='bx bxl-flask'>
                        <p>Flask</p>
                    </i>
                    <i class='bx bxl-django'>
                        <p>Django</p>
                    </i>
                    <i class='bx bxl-nodejs'>
                        <p>Nodejs</p>
                    </i>
                    <i class='bx bxl-html5'>
                        <p>HTML</p>
                    </i>
                    <i class='bx bxl-css3'>
                        <p>CSS 3</p>
                    </i>
                    <i class='bx bxs-data'>
                        <p>SQL</p>
                    </i>
                    <i class='bx bxl-python'>
                        <p>Python</p>
                    </i>
                    <i class='bx bxl-react'>
                        <p>React</p>
                    </i>
                </div>
                <h4 class="h-entrelinhas">Redes sociais</h4>
                <div class="dev-redesocial">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram-alt'></i>
                    <i class='bx bxl-facebook-circle'></i>
                    <i class='bx bxl-gmail'></i>
                </div>
            </div>
        </section>

        <section class="section-dev">
            <div class="dev">
                <div class="dev-name">
                    <h2>Gustavo Pereira</h2>
                    <h5>Marcena da Cruz</h5>
                </div>
                <div class="dev-foto">
                    <img src="../midias/fotos/ft_perfil(2).png" alt="">
                </div>
                <h4 class="h-entrelinhas">Tecnologias</h4>
                <div class="dev-tecnologia">
                    <i class='bx bxl-flask'>
                        <p>Flask</p>
                    </i>
                    <i class='bx bxl-django'>
                        <p>Django</p>
                    </i>
                    <i class='bx bxl-nodejs'>
                        <p>Nodejs</p>
                    </i>
                    <i class='bx bxl-html5'>
                        <p>HTML</p>
                    </i>
                    <i class='bx bxl-css3'>
                        <p>CSS 3</p>
                    </i>
                    <i class='bx bxs-data'>
                        <p>SQL</p>
                    </i>
                    <i class='bx bxl-python'>
                        <p>Python</p>
                    </i>
                    <i class='bx bxl-react'>
                        <p>React</p>
                    </i>
                </div>
                <h4 class="h-entrelinhas">Redes sociais</h4>
                <div class="dev-redesocial">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram-alt'></i>
                    <i class='bx bxl-facebook-circle'></i>
                    <i class='bx bxl-gmail'></i>
                </div>
            </div>
        </section>
        </div>
    </main>
    <footer>
        <p>@TecGames, 2023, direitos reservados.</p>
    </footer>
    


    <audio src="../midias/clickgotaagua.mp3"></audio>
    <script src="../js/son.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/mobile.js"></script>
</body>

</html>